body{
    background-color: #FBFBFB;
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#boton-prueba:hover{
     background-color: rgb(255, 244, 240); 

}


#app{
    color: rgb(90, 13, 32);
    font-weight: bold;
}

.boton-cv{
    background-color:rgb(253, 237, 94) ;
    color: black;
}
/* Las clases anteriores y los ID fueron agregados de  */
.caja-habilidades{
    /* background-color: $red-300; */
    color: black;
    background-color:peachpuff;
}

/* Para quitar el border de la card se pone en la clase border-0 */