@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    /* background-color: #FBFBFB; */
    background-color: rgb(255, 255, 255);
}


*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav{
    width: 100%;
    height: 60px;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: #d5ecf5;
}
header li:hover{
    background-color: blueviolet;
    border-radius: 5px;
}

/* #boton-prueba:hover{
     background-color: rgb(0, 0, 0); 

} */


#app{
    color: rgb(90, 13, 32);
    font-weight: bold;
}

.boton-cv{
    background-color:rgb(253, 237, 94) ;
    color: black;
}
/* Las clases anteriores y los ID fueron agregados de  */
.caja-habilidades{
    /* background-color: $red-300; */
    color: black;
    background-color:peachpuff;
}

/* Para quitar el border de la card se pone en la clase border-0 */